header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    background-color: #14279B;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
/* .logo h3{
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
    color: white;
    margin: 0.75rem;
} */
.logo img{
    width: 100%;
    height: auto;
    max-width: 100px;
}


.navbar-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links ul li{
    font-family: 'Montserrat', sans-serif;
}

.navbar-links ul li a{
    text-decoration: none;
    color: rgb(224, 224, 224);
    font-size: 1em;
    padding: 0.5em;
    display: block;
    font-weight: 800;
    transition: 0.3s;
}
.navbar-links ul li a:hover{
    color: white;
    transform: scale(1.1);
}

.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 840px){
    .toggle-button {
        display: flex;
        top: 2rem;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-links li{
        padding: 0.5rem;
    }
    .navbar{
        justify-content: center;
    }
    .navbar-links ul li a{
        font-size: 1rem;
        padding: 0.2em;
    }
    .active{
        display: flex;
    }
}
@media (max-width: 550px){
    body{
        font-size: 1rem;
    }
    .toggle-button {
        display: flex;
        top: 2rem;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-links li{
        padding: 0.5rem;
    }
    .active{
        display: flex;
    }
}